@use "sass:color";
@use "settings";
@use "mixins"; // Ensure this file contains the definition for mixins.fluidRem

.eab_logo {
  display: flex;
  align-items: center;
}

.eab_logo img {
  display: block;
  width: 5em;
  height: auto;
  margin: 0 0.6rem 0 0;
}

.eab_logo .agency_services {
  display: block;
  font-family: settings.$fsans;
  text-transform: uppercase;
  border-left: 1px solid color.adjust(settings.$c-black, $lightness: 65%);
  padding-left: 0.6rem;
  @include mixins.fluidRem(font-size, 1.2rem, 1.3rem);
}

.site_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 999;
  background-image: linear-gradient(
    to left,
    color.adjust(black, $lightness: 95%),
    white
  );
  border-top: 2px solid settings.$c-primary-blue-lt;
  @include mixins.fluidRem(padding, 0.5rem 0.5rem, 0.5rem 1rem);
}

.site_header[data-page-name="landing-page"] .partner {
  display: none;
}

.institution_name {
  display: block;
  @extend h1 !optional;
  padding: 0.5rem 1rem;
  border-bottom: 1px solid color.adjust(settings.$c-black, $lightness: 68%);
  font-family: settings.$fsans;
}

.institution_name::before {
  content: "Partner";
  display: block;
  text-transform: uppercase;
  color: color.adjust(settings.$c-black, $lightness: 50%);
  text-transform: uppercase;
  font-weight: 500;
  @include mixins.fluidRem(font-size, 0.8rem, 1rem);
}

.partner {
  display: block;
  margin: 0 4em 0 auto;
}

.partner .partner_name {
  display: flex;
  align-items: center;
  color: settings.$c-black;
  font-size: 1.5rem;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  font-family: settings.$fsans;
}

.partner .partner_name::before {
  content: "Partner";
  display: block;
  color: color.adjust(settings.$c-black, $lightness: 50%);
  margin-right: 0.6rem;
  font-weight: 300;
}
