// ===========================
// Instructions

.intro{
    display: block;
    width: 100%;
    background: $c-primary-blue-dk;
    position: relative;
    overflow: hidden;

    h1{
        display: flex;
        flex-direction: column;
        color: white;
        font-family: $f-sans;
        strong{
            display: block;
            background: $c-secondary-blue-2;
            font-size: 0.7em;
            width: 8.4em;
            text-align: center;
            text-transform: uppercase;
            padding: 0.2em 0.3em;
            font-weight: 500;
        }
    }
    p{
        color: white;
        @include fluidRem(font-size, 1rem, 1.3rem);
        letter-spacing: -0.02em;
    }
  }

  .instructions_nav{
      display: block;
      margin: -2em 0 2em;
      position: sticky;
      top: 3em;
      z-index: 100;
      background: lighten(black, 95%);

      &::before{
        content: "";
        display: block;
        width: 100%;
        height: 50%;
        position: absolute;
        top: 0;
        background: $c-primary-blue-dk;
      }
      
    ul{
        display: flex;
        align-items: center;
        justify-content: center;
        list-style: none;

      li{
          display: block;
          position: relative;
          margin: 0.5em;

          &:hover, &:focus{
                a + ul{
                    display: block;
                }
            }

          a{
            display: block;
            background: $c-primary-alt-blue;
            padding: 0.8em 2em 0.8em 0.8em;
            border-radius: 0.4em;
            color: white;
            text-decoration: none;
            letter-spacing: -0.025em;
            font-weight: 600;
            line-height: 1.1;
            position: relative;
            @include fluidRem(font-size, 0.8rem, 1.1rem);

            &::after{
                content: "";
                display: block;
                width: 0.6em;
                height: 0.6em;
                border-bottom: 3px solid white;
                border-right: 3px solid white;
                border-bottom-right-radius: 3px;
                transform: rotate(45deg);
                position: absolute;
                right: 0.7em;
                top: 1em;
            }
            
            &:hover, &:focus{
                background: $c-secondary-violet-dk;

            }
          }

          &:last-child{
              a{
                  padding: 0.8em;

                  &::after{
                      display: none;
                  }
              }
          }

          ul{
                display: none;
                width: 90%;
                background: white;
                position: absolute;
                list-style: none;
                margin: 0;
                left: 50%;
                transform: translateX(-50%);
                border-bottom-left-radius: 4px;
                border-bottom-right-radius: 4px;
                
                li{
                    margin: 0;
                    border-bottom: 1px solid lighten($c-black, 65%);
                    a{
                        background: none!important;
                        color: $c-secondary-violet-dk;
                        text-align: center;
                        padding: 0.8em;
                        font-size: 0.85rem;

                        &:hover, &focus{
                            color: $c-primary-orange;
                            text-decoration: underline;
                        }
                    }

                    &:last-child{
                        border: none;
                    }
                }
          }
      }
  }
}

section{
    overflow: hidden;
    .section-title{
        @include fluidRem(font-size, 1.2rem, 2.2rem); 
        font-family: $f-serif;
        color: $c-primary-blue-dk;
        margin-bottom: 1em;
     }

     .group{
         header{
             width: 100%;
             max-width: $mq-700;

             .section-subtitle{
                position:relative;
                display: inline-block;
                background: $c-primary-blue-dk;
                color: white;
                padding: 0.3em 0.3em 0.3em 0;
                font-family: $f-sans;
                margin-top: 0;
                @include fluidRem(font-size, 1rem, 1.5rem);
                
                &::before{
                    content:"";
                    display: block;
                    width: 100vw;
                    height: 100%;
                    position: absolute;
                    background: $c-primary-blue-dk;
                    top: 0;
                    right: 99.9%;
                }
            }
         }

         .group_content{
             .content-wrapper{
                 list-style: none;
                 margin: 0;
                 counter-reset: tags_steps;
                 .step{
                    counter-increment: tags_steps;
                    // margin: 2em 0;
                    @include fluidRem(margin, 2.5rem 0, 5rem 0);
                    position: relative;

                    &::before{
                        content: counter(tags_steps);
                        @include fluidRem(font-size, 3rem, 6rem);
                        color: $c-primary-orange;
                        font-weight: 800;
                        position: absolute;
                        top: 0;
                        line-height: 0.8;
                    }
                 }
             }
         }
     }
}

.yvtag{
    display: inline-block;
    padding: 0.3em 0.5em;
    border-radius: 0.2em;
    font-weight: 700;
    color: white;
    background: $c-primary-blue-dk; 
}

.embedcodetag{
    display: inline-block;
    padding: 0.3em 0.5em;
    border-radius: 0.2em;
    font-weight: 700;
    color: white;
    background: $c-primary-alt-blue; 
}

.step_description{
    display: block;
    position: relative;
    background: lighten($c-secondary-blue-5, 15%);
    width: 60%;
    @include fluidRem(padding, 0.5rem, 3rem);

    &::before{
        content:"";
        display: block;
        width: 100vw;
        height: 100%;
        background: lighten($c-secondary-blue-5, 15%);
        position: absolute;
        top: 0;
    }

    h4{
        @include fluidRem(font-size, 1.1rem, 1.5rem);
        color: $c-primary-blue-dk;
        font-family: $f-sans;
        margin-bottom: 0.3em;
    }

    h5{
        @include fluidRem(font-size, 0.95rem, 1.1rem);
        font-family: $f-sans;
        margin-bottom: 0.3em;
    }

    small{
        line-height: 1.2;
        font-style: italic;
    }

    ul{
        list-style: none;
        margin: 0;
        li{
            position: relative;
            padding-left: 1.5em;

            &::before{
                content: $i-checkmark;
                font-family: $f-icons;
                display: block;
                position: absolute;
                left: 0;
                top: 0.1em;
                font-size: 0.8em;
            }
        }
    }
}

// ==============================
// UNLOCKING THE POWER SECTION

.unlocking_the_power{
    .step{
        display: flex;

        .step_graph{
            display: block;
            width: 40%
        }
    }
    h4{
        padding-left: 2.1em;
        position: relative;
        &::before{
            content: $i-squarecheckmark;
            font-family: $f-icons;
            font-size: 2em;
            position: absolute;
            left: 0;
            top: -0.5em;
        }
    }
    .youvisit_tag{
        &::before{
            right: 61%;
        }
        .step_graph{
            position: relative;
            &::before{
                content: $i-document;
                font-family: $f-icons;
                color: $c-secondary-blue-1;
                font-size: 6em;
                position: absolute;
                top: 40%;
                left: 50%;
                transform: translateY(-50%) translateX(-50%);
            }
            &::after{
                content:"PAGE A";
                display: block;
                position: absolute;
                font-size: 0.9rem;
                font-weight: 800;
                text-align: center;
                line-height: 1;
                width: 3em;
                top: 42%;
                left: 50%;
                transform: translateY(-50%) translateX(-50%);
            }

            .yvtag{
                position: absolute;
                top: 50%;
                left: 50%;
            }
        }
        .step_description{
            &::before{
                left: 99.8%;
            }
            h4{
                &::before{
                    content: $i-squarecheckmark;
                }
            }
        }
    }
    .yvtag-embed{
        flex-direction: row-reverse;
        &::before{
            left: 61%;
        }
        .step_graph{
            position: relative;
            &::before{
                content: $i-document;
                font-family: $f-icons;
                color: $c-secondary-blue-1;
                font-size: 6em;
                position: absolute;
                top: 40%;
                left: 50%;
                transform: translateY(-50%) translateX(-50%);
            }
            &::after{
                content:"PAGE B";
                display: block;
                position: absolute;
                font-size: 0.9rem;
                font-weight: 800;
                text-align: center;
                line-height: 1;
                width: 3em;
                top: 42%;
                left: 50%;
                transform: translateY(-50%) translateX(-50%);
            }

            .yvtag{
                position: absolute;
                top: 50%;
                left: 50%;
            }
        }
        .step_description{
            &::before{
                right: 99.8%;
            }
            
            h4{
                &::before{
                    content: $i-squarecheckmark;
                }
            }
        }
    }
    .yvtag-successcode{
        &::before{
            right: 61%;
        }
        .step_graph{
            position: relative;
            &::before{
                content: $i-document;
                font-family: $f-icons;
                color: $c-secondary-blue-1;
                font-size: 6em;
                position: absolute;
                top: 40%;
                left: 50%;
                transform: translateY(-50%) translateX(-50%);
            }
            &::after{
                content:"PAGE C";
                display: block;
                position: absolute;
                font-size: 0.9rem;
                font-weight: 800;
                text-align: center;
                line-height: 1;
                width: 3em;
                top: 42%;
                left: 50%;
                transform: translateY(-50%) translateX(-50%);
            }

            .yvtag{
                position: absolute;
                top: 50%;
                left: 50%;
            }
        }
        .step_description{
            &::before{
                left: 99.8%;
            }
        }
    }   
}